db:
  default:
    type: mysql
    host: string
    port: 3306
    user: 123
    password: abc
    dbname: oauth2

oauth2:
  client:
    - id: test_client_1
      secret: test_secret_1
      name: 测试应用1 
      domain: http://localhost:9093
    - id: test_client_2
      secret: test_secret_2
      name: 测试应用2 
      domain: http://localhost:9094

scope:
  - id: all
    description: 用户基本信息,账号,手机号,权限,角色等信息
  - id: userinfo
    description: 用户基本信息
  - id: accountinfo
    description: 账号信息,手机,权限角色等信息